//* ================= PROJECT BANNER ================= */
.project-banner{
  min-height: 320px;
  background: url("https://images.unsplash.com/photo-1560185007-cde436f6a4d0?q=80&w=1600&auto=format&fit=crop") center/cover no-repeat;
  position: relative;
}

.project-banner::before{
  content:"";
  position:absolute;
  inset:0;
  background: rgba(0,0,0,0.5);
}

.project-banner .container{
  position: relative;
  z-index:2;
}

/* ================= PROJECT CARD ================= */

.project-card {
  background: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 15px 35px rgba(0,0,0,0.08);
  transition: 0.4s ease;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 25px 45px rgba(0,0,0,0.15);
}

.project-img img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.btn-primary {
  background: linear-gradient(90deg, #0d47a1, #1976d2);
  border: none;
}

.btn-primary:hover {
  opacity: 0.9;
}

.btn-outline-dark:hover {
  background: #000;
  color: #fff;
}

/* ================= BANNER ================= */
/* ================= ABOUT BANNER ================= */

.about-banner {
  height: 60vh;
  background: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
              url("../images/about-banner.webp");
  background-size: cover;
  background-position: center;
}


/* ================= ABOUT SECTION ================= */

.about-img-wrapper img {
  height: 450px;
  object-fit: cover;
}

.btn-primary {
  background: linear-gradient(90deg, #0d47a1, #1976d2);
  border: none;
}

.btn-primary:hover {
  opacity: 0.9;
}


/* ================= RESPONSIVE ================= */

@media (max-width: 992px) {

  .about-banner {
    height: 45vh;
  }

  .about-img-wrapper img {
    height: 350px;
  }

}

/* PUSH TO TOP */
#topBtn{
  position:fixed;
  bottom:30px;
  right:25px;
  z-index:999;
  background:#1e4d92;
  color:#fff;
  border:none;
  border-radius:50%;
  width:45px;
  height:45px;
  font-size:18px;
  cursor:pointer;
  display:none;
  transition:0.3s;
  box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

#topBtn:hover{
  background:#0f2c59;
  transform:translateY(-4px);
}

/* MOBILE */
@media(max-width:768px){
  #topBtn{
    width:40px;
    height:40px;
    font-size:16px;
    bottom:20px;
    right:15px;
  }
}
