
body{
font-family:'Poppins',sans-serif;
background:#f4f7fb;
}

/* HERO */
.upcoming-hero{
height:65vh;
background:linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)),
url('https://images.unsplash.com/photo-1600607687644-c7171b42498f?q=80&w=1800');
background-size:cover;
background-position:center;
display:flex;
align-items:center;
justify-content:center;
color:white;
text-align:center;
}

.upcoming-hero h1{
font-size:52px;
font-weight:700;
}

/* SECTION TITLE */
.section-title{
font-weight:700;
margin-bottom:60px;
position:relative;
text-align:center;
}

.section-title::after{
content:"";
width:90px;
height:4px;
background:#facc15;
display:block;
margin:15px auto 0;
border-radius:10px;
}

/* UNIQUE CARD */
.upcoming-card{
position:relative;
border-radius:30px;
overflow:hidden;
box-shadow:0 25px 70px rgba(0,0,0,0.12);
transition:0.5s ease;
background:white;
}

.upcoming-card:hover{
transform:translateY(-15px);
box-shadow:0 40px 90px rgba(0,0,0,0.25);
}

.upcoming-img{
height:280px;
overflow:hidden;
}

.upcoming-img img{
width:100%;
height:100%;
object-fit:cover;
transition:0.6s ease;
}

.upcoming-card:hover img{
transform:scale(1.1);
}

/* Floating Launch Badge */
.launch-badge{
position:absolute;
top:20px;
left:20px;
background:#facc15;
color:#0f2c59;
padding:8px 16px;
border-radius:30px;
font-size:13px;
font-weight:600;
box-shadow:0 10px 30px rgba(0,0,0,0.15);
}

/* Card Content */
.upcoming-content{
padding:30px;
text-align:center;
}

.upcoming-content h5{
font-weight:700;
margin-bottom:10px;
}

.location{
color:#555;
font-size:14px;
margin-bottom:15px;
}

.location i{
color:#1e4d92;
margin-right:5px;
}

/* Area Box */
.area-box{
background:linear-gradient(90deg,#0f2c59,#1e4d92);
color:white;
padding:8px 15px;
border-radius:20px;
display:inline-block;
font-size:13px;
margin-bottom:15px;
}

/* Button */
.btn-book{
background:#facc15;
color:#0f2c59;
font-weight:600;
border-radius:30px;
padding:8px 25px;
transition:0.4s;
}

.btn-book:hover{
background:#0f2c59;
color:white;
}

/* Bottom Decorative Curve */
.upcoming-card::after{
content:"";
position:absolute;
bottom:-40px;
right:-40px;
width:120px;
height:120px;
background:rgba(250,204,21,0.15);
border-radius:50%;
}

/* PUSH TO TOP */
#topBtn{
  position:fixed;
  bottom:30px;
  right:25px;
  z-index:999;
  background:#1e4d92;
  color:#fff;
  border:none;
  border-radius:50%;
  width:45px;
  height:45px;
  font-size:18px;
  cursor:pointer;
  display:none;
  transition:0.3s;
  box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

#topBtn:hover{
  background:#0f2c59;
  transform:translateY(-4px);
}

/* MOBILE */
@media(max-width:768px){
  #topBtn{
    width:40px;
    height:40px;
    font-size:16px;
    bottom:20px;
    right:15px;
  }
}


