/* ================= FOOTER ================= */
.footer-section{
  background:linear-gradient(90deg,#0f172a,#1e293b);
  color:#fff;
  padding:60px 0 20px;
}

/* Links */
.footer-link{
  color:#cbd5e1;
  text-decoration:none;
  display:block;
  margin-bottom:8px;
  transition:0.3s;
}

.footer-link:hover{
  color:#06b6d4;
  padding-left:5px;
}

/* Social */
.social-icons{
  display:flex;
  gap:12px;
}

.social-icon{
  width:40px;
  height:40px;
  background:linear-gradient(90deg,#2563eb,#06b6d4);
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:50%;
  color:#fff;
  transition:0.3s;
}

.social-icon:hover{
  transform:scale(1.1);
}

.footer-divider{
  border-color:rgba(255,255,255,0.1);
}
.whatsapp-sticky{
  display:none;          /* hide by default */
  position:fixed;
  bottom:80px;
  right:20px;
  width:55px;
  height:55px;
  z-index:999;
  transition:.3s;
 
}

.whatsapp-sticky img{
  width:100%;
  height:100%;
}
@media(max-width:768px){
  .whatsapp-sticky{
    display:block;      /* mobile only show */
    width:50px;
    height:50px;
    bottom:60px;
    right:15px;
  }
}